# Eclipse Project Files
.settings/
.classpath
.project

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz

# Intellij Project Files
.idea/
*.iml
*.ipr
*.iws

# Maven Files
target/

# Other Files
.DS_Store
Thumbs.db

# User Files
logs/
